@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#micBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  width: 5rem;
  height: 5rem;
  color: #fff;
  font-size: 1.5rem;
}

.btn-deactive {
  background-color: #017bf3;
}

.btn-active {
  background-color: #f00;
  transform: scale(1.1);
  border: 0.2rem solid #dcdcdc;
  transition: background-color 0.3s, transform 0.3s;
}